*{
   margin: 0;
   padding: 0;
}
.header-container{
   width: 100%;
   background: #FFFFFF;
   /* padding-top: 20px;
   padding-bottom: 20px; */
   height: 72px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   /* /* padding-left:6%; */
   /* padding-right: 6%; */ 
}
.middle-header{
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 60%;
   width: 100%;

}
.ul-header{
   list-style-type: none;
   display: flex;
   align-items: center;
   justify-content:space-between;
   padding:0;
   margin: 0;
   display: flex;
   /* padding-right:5%; */
   /* gap:40px; */
   height: 72px;
   width: 100%;
}
.ul-header li{
 display:flex;
 justify-content: space-between;
 width: 100%;
 color: rgba(0, 0, 0, 0.7);
 font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: rgba(0, 0, 0, 0.7);
}
.ul-header li:last-child{
   padding: 12px 24px;
   background-color:cornflowerblue;
   width:410px;
   align-items: center;
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 24px;
   color: white;
}
 #close{
   font-size: 20px;
   width: 50px;
   height: 50px;
   background: yellow;
   display: none;
}
#menu{
   display: none;
   font-size: 20px;
   width: 50px;
   height: 50px;
   background: yellow
   
}
@media only screen and (max-width: 767px) {
   .ul-header li{
      display: block;
   }
   #menu{
      display:block;
   }
   #close{
      display:block;
   }
   .ul-header{
      position: absolute;
     background-color: violet;
     height: 100vh;
     width: 200px;
     top: 0;
     right: -200px;
     text-align: left;
     z-index: 2;
     display: block;
   }
    .last{
      padding:0;
      background-color:white;
      width:100px;
      align-items: left;
      padding-top:0;
      padding-bottom:0;
      padding-left:0;
      color:black;
   }
}

